@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* css reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
    --color-primero: black;
    --color-segundo: rgb(253, 46, 121);
    --color-tercero: white;
    --color-cuarto: rgb(31, 0, 37);
}

html{
    font-size: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    --font-primera: 'Bebas Neue', 'sans-serif';
}

ul, ol, li, a, h1, h2, h3, p, body, header, section, footer, .container, .container-fluid, .row, .col{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    min-height:100vh;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow-x: hidden; 
    line-height: 1.5;  
    display: flex;
    flex-direction: column;
    font-family: var(--font-primera);
}

a{
    text-decoration: none;
	outline: none;
}

ul{
    list-style: none;
}

button, input, textarea, select{
    font: inherit;
}
    
button{
    cursor: pointer;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

.container-fluid{
    width: 100%;
}

/* fin css reset */

body{
    background: linear-gradient(45deg, var(--color-segundo) 40%, var(--color-primero) 40%);
    font-size: 2rem;
    color: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.header{
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center; 
    align-items: center;
    margin-top: 48px;
    padding: clamp(1rem, 2vw, 2rem);

    &__title{
        font-size: unquote("clamp(8rem, 1rem + 10vw, 40rem)");
        color: white;
        padding: 2rem;
        font-weight: bold;
        line-height: 1;
        text-shadow: 2px 2px 0 var(--color-primero), 4px 4px 0 var(--color-segundo);
        &:hover, &:focus{
            color: white;
            
        }
    }

    &__info{
        width: 100%;
        font-size: 1.8rem;
        align-self: end;
        text-align: right;
        border-bottom: 2px solid var(--color-segundo);;
        line-height: 1.2;

        &__whatsapp{
            margin-left: 1rem;
            margin-right: 1rem;
            font-size: 4.2rem;
            color: darkgreen;

            &:hover, &:focus{
                color: green;
            }
        }
    }
}

.nav{
    width: 100%;
    background: white;
    color: var(--color-primero);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    height: 48px;

    &__ul{
        display: flex;
        flex-flow: row wrap;
        gap: unquote("clamp(1rem, 1rem + 1vw, 2rem)");
        font-size: 2rem;

        &__li{
            a{
                color: var(--color-primero);

                &:hover, &:focus{
                    color: var(--color-segundo);
                }
            }
        }
    }

    &--footer{
        display: flex;
        flex-flow: row wrap;
        justify-content: start;
        align-items: center;
        background: transparent;

        a{
            color: darkgray;
        }
    }
    
}

.main{
    padding: clamp(1rem, 2vw, 2rem);
    width: 100%;
    max-width: 1600px;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-items: stretch;
    gap: 2rem;
    position: relative;
}

.ofertas{
    width: 100%;
    border-radius: .5rem;
    border: 2px solid white;
    background: var(--color-cuarto);
    min-height: 25vh;
}

.productos{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-auto-rows: 1fr;
    justify-content: center;
    align-content: center;
    gap: 2rem;

    &__producto{   
        border-radius: .5rem;
        border: 2px solid white;
        background: var(--color-segundo);
        display: flex;
        flex-flow: column;
        padding: .8rem;
        max-width: 240px;

        h1{
            margin: .8rem auto 0 auto;
            text-align: center;
            padding: .4rem;
            line-height: 1;
            display: flex;
            justify-content: center;
            font-size: unquote("clamp(2rem, .8rem + 4vw, 3.8rem)");
            text-shadow: 2px 2px 0 var(--color-primero), 4px 4px 0 var(--color-segundo);
        }
        h2{
            margin-top: auto;
            text-align: center;
            font-size: unquote("clamp(2rem, .6rem + 4vw, 3.4rem)");
        }
        p{
            text-align: right;
            font-size: unquote("clamp(1rem, .2rem + 1vw, 3rem)");
            margin-right: .4rem;
        }
        p:first-of-type{
            text-align: right;
            margin-left: auto;
            margin-right: .4rem;
            line-height: .6;
            font-size: unquote("clamp(1.2rem, .8rem + 1.6vw, 3.2rem)");
        }
        &__buttonContainer{           
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            margin-top: -.8rem;

            button{
                cursor: pointer;
                
                margin-bottom: 0;
                background: none;
                outline: none;
                border: none;
                font-size: unquote("clamp(1.8rem, 2rem + 4vw, 10rem)");

                &:hover, &:focus{
                    color: white;
                }
            }
        }
        
    }

   
}


.carrito{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 100px;
    height: 100px;
    border: 2px solid white;
    background: var(--color-cuarto);
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
    &__icon{
        font-size: 4rem;
    }

    &__numero{
        position: absolute;
        top: 45.4%;
        left: 52%;
        color: var(--color-segundo);  
        transform: translate(-50%, -50%);
    }

    &__total{
        position:absolute;
        top:-42%;
        left: 0;
    }

    &__lista{
        position: fixed;
        inset: 10%;
        min-width: 250px;
        max-width: 1200px;
        margin: auto;
        background: var(--color-primero);
        border-radius: 1rem;
        padding: 1rem;
        box-shadow: 0 0 0 4px var(--color-segundo), 0 0 0 8px white;
        display: flex;
        flex-flow: column nowrap;
        transform: translateY(-120%);
        transition: transform 400ms;
        overflow-y: scroll;
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
        &::-webkit-scrollbar { 
            display: none;  /* Safari and Chrome */
        }

        &__translated{
            transform: translateY(0%);
        }

        &__title{
            line-height: 1;
            font-size: 1.8em;
            text-shadow: 2.2px 2.2px 0 var(--color-primero), 3px 3px 0 var(--color-segundo);
            margin-bottom: 2rem;
            margin-top: 1rem;
        }

        &__total{
            font-size: 1.4em;
            color: var(--color-segundo);
            margin-top: 1rem;
            display: flex;
            justify-content: space-between;
        }

        &__cerrar{
            position: absolute;
            top: 1%;
            right: 2.2%;
            font-size: 2em;
            font-weight: bold;
            background: none;
            border: none;
            color: white;
            cursor: pointer;
            text-shadow: 2.2px 2.2px 0 var(--color-primero), 3px 3px 0 var(--color-segundo);

            &:hover, &:focus{
                color: var(--color-segundo);
                text-shadow: 2.2px 2.2px 0 var(--color-primero), 3px 3px 0 white;
            }
        }
        
        &__vaciar{
            align-self: end;
            background: none;
            color: darkred;
            border: none;
            &:hover{
                color: red;
            }
        }

        &__checkout{
            font-size: 1.4em;
            font-weight: bold;
            background: white;
            border: none;
            text-shadow: 2px 2px 0 white, 3px 3px 0 var(--color-primero);
            border-radius: .4rem;
            color: var(--color-primero);
            box-shadow: 2.8px 2.8px 0 0 var(--color-primero), 4.8px 4.8px 0 0 var(--color-segundo);
            
            &:hover, &:focus{ 
                text-shadow: 2px 2px 0 white, 3px 3px 0 var(--color-segundo);
            }
            &:active{
                transform: translate(2px, 2px)
            }
        }
        li{
            display: flex;
            justify-content: space-between;
            width: 100%;
            span{
                flex: 1;
                text-align: right;
                &:first-of-type{
                    text-align: left;
                }
                &:nth-of-type(2){
                    text-align: center;
                }
                &:last-of-type{
                    text-align: right;
                }
            }
            
           
        }
    }

    &:hover, &:focus{
        outline: 2px solid var(--color-segundo);
    }

    &:hover &__icon, &:focus &__icon{
        filter: drop-shadow(0 0 2rem var(--color-segundo));
    }
}



.footer{
    border-top: 1px solid white;
    margin-top: auto;
    padding: 1rem;
    padding-left: 2rem;
    background: var(--color-primero);

    &__nav{
        width: 100%;
        color: var(--color-primero);
        display: flex;
        flex-flow: row wrap;
        justify-content: start;
        align-items: center;
        
        &__ul{
            display: flex;
            flex-flow: column wrap;
            gap: .2rem;
            font-size: 2rem;

            &__li{
                a{
                    color: var(--color-tercero);
    
                    &:hover, &:focus{
                        color: var(--color-segundo);
                    }
                }
            }
        }
    }
}

@media (min-width: 880px){
    .header{
        padding: 4rem;
    }
    .main{
        flex-flow: row wrap;
        padding: 4rem;
    }
    .ofertas{
        flex: 3;
    }
    .productos{
        flex: 8;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .footer{
        padding-left: 4rem;
    }
}